
html{
	height:100%;
	overflow: auto;
}
body{
	height:100%;
	overflow: auto;
	margin:0;
	text-align: center;
}
header{
	margin-top:50px;
	margin-bottom:0px;
}

button{
	margin:20px;
	}

.option-button{
	font-size:25px;
	width: 50%;
	text-align:left;
}
.start-css-button{
	font-size:30px;
	position:absolute;
	margin:0 auto;
	top:150px;
	left:43%;

}
.next-button{
	font-size:30px;
	position:relative;
}
#wrapper{
	clear:both;
	overflow:auto;
	background-image: url("../images/forest1.jpg");
	background-size:100% 100%;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#titleArea {
	margin:0 auto;
	display:inline-block;
	text-align: center;
	width: 100%;
	height: auto;
	background: url("../images/forest1.jpg") no-repeat;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

	overflow:auto;
	background-size:100% 100%;
	color:black;
}
#questionArea {
	width:auto;
	height:auto;
	
	background-size: 100% 100%;
	/*padding:40px;*/

}

#controls{
	position:relative;
	margin-top:20px;
}
#border-image{
	/*margin:15px 20%;*/
	margin:15px auto;
	width:660px;
}


#options{
	color:black;
	text-align:left;
}
#timer{
	color:red;
	font-size: 60px;
}


#title{
	
	font: bold italic 50px Georgia ;
	/*position:relative;*/
	
}

.fox-background{
	background-image: url("../images/fox.jpg");
}
.correct-div{
	font-size: 30px;
}
.snow{
	background: url("../images/snow.png") no-repeat;
	z-index:-1;
}

#foxSVG{
	width:800px;
	height:500px;
}


#foxPic {
	height:100%;
	width:100%;
	x:0;
	y:0;
    clip-path: url(#theSVGPath);
}

@media screen and (max-width: 750px) {
	#border-image{
		width:auto;
		margin:15px;
		
	}
	#foxSVG{
	width:500;
	height:350;
	}
}